# WEBSCRAPING BEGINNER

In [2]:
#import lib
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [2]:

url = "https://www.ventusky.com/ho-chi-minh-city#actual"
rep = requests.get(url)
soup = BeautifulSoup(rep.text, "html.parser")
#soup

In [3]:
forecast = soup.find_all(class_="forecast_mesto")
for i in forecast:
    parent_forecast =i.parent

In [4]:
date_ = parent_forecast.find(id="date_selector")
#date_

In [5]:
fdate = []
for str_ in date_:
    c = str_.string
    fdate.append(c)
fdate =fdate[1:8]
ddate ={'Ngay':fdate,'Thu':None,'Nhiet do':None}

In [6]:
tpm = parent_forecast.find_all("a")[1:]

In [7]:
text =[]

for i in tpm:
    c= i.text
    text.append(c)

In [8]:
import re 

patternThu =r'(\w{2})'
patternTemp = r'(\d+)'
Thu = []
Temp =[]

for item in text:
    match = re.search(patternThu, item)
    if match:
        thu = match.group()
        Thu.append(f'{thu}')
    match = re.search(patternTemp, item)
    if match:
        temp = match.group()
        Temp.append(f'{temp}°C')

In [9]:
ddate['Thu'] = Thu
ddate['Nhiet do'] = Temp

In [10]:
df = pd.DataFrame(ddate)
df

         Ngay Thu Nhiet do
0  2023/10/12  Th     31°C
1  2023/10/13  Fr     30°C
2  2023/10/14  Sa     31°C
3  2023/10/15  Su     30°C
4  2023/10/16  Mo     32°C
5  2023/10/17  Tu     32°C
6  2023/10/18  We     33°C