In [2]:
#import lib
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import re

# CONNECT TO WEB

In [3]:
#Connect and query HTML from website
URL = "https://vi.wikipedia.org/wiki/Danh_s%C3%A1ch_c%C3%B4ng_ty_l%E1%BB%9Bn_nh%E1%BA%A5t_th%E1%BA%BF_gi%E1%BB%9Bi_theo_doanh_thu"
HTML = requests.get(URL)
soup = BeautifulSoup(HTML.text, "html.parser" )

## Get columns name

In [4]:
#Location and get col name
table1 = soup.find("div", class_="mw-parser-output").find("table").find("tbody")
header_row = []
for i in table1.find('tr').find_all('th'):
    header_row.append(i.text.strip())
print(header_row)

['Hạng', 'Tên', 'Ngành', 'Doanh thu(USD million)', 'Tốc độ tăng trưởng', 'Số nhân viên', 'Quốc gia', 'Chú thích']

In [5]:
#create dataframe by col name
head_col = pd.DataFrame(columns=header_row)
head_col

Empty DataFrame
Columns: [Hạng, Tên, Ngành, Doanh thu(USD million), Tốc độ tăng trưởng, Số nhân viên, Quốc gia, Chú thích]
Index: []

In [6]:
## Location and Drop Dirty data
for err in table1.find_all('span', attrs={'style':'display:none'}):
    err.decompose()

In [7]:
values_table=table1.find_all('tr')[1:]

In [7]:
#get data from table
rows=[]
data=[]
for row in values_table:
    rows.append([n.text.strip() for n in row])
for el in rows:
    data.append(el[1::2])

### When I retrieved the data, I realized one thing some rows in the table were missing 1 - 2 data cells
### Then I researched and found out that the two missing data were 'Ngành' and 'Quốc gia'.

In [20]:
#filter any row missing data
miss=[]
for i in data:
    if len(i)<8:
        miss.append(i)

In [19]:
# Handling missing row of columns 'Ngành' with NaN
pat =re.compile('[0-9]+')
missing_industry=[]
for i in miss:
    if re.search(pat,i[2]):
        missing_industry.append(i)
for el in missing_industry:
    index_bf_missing = el.index(el[1])
    el.insert(index_bf_missing + 1,'NaN')

In [18]:
# Handling missing row of columns 'Quốc gia' with NaN
missing_country=[]
for i in miss:
    if re.search(pat,i[-2]):
        missing_country.append(i)
for el in missing_country:
    el.insert(el.index(el[-1]),'NaN')

In [11]:
data_t = data #backup

In [12]:
#check missing values again
for i in data_t:
    if len(i)<8:
        print(i)

In [13]:
#load_data to dataframe
df = head_col

for i in data_t:
    df.loc[len(df)]=i

In [15]:
#fill NaN with values above
for i in df['Ngành']:
    index_NaN = df.loc[df['Ngành']=='NaN'].index.tolist()
for ind in index_NaN:
    df.at[ind,'Ngành'] = df.at[ind-1,'Ngành']
    
for i in df['Quốc gia']:
    index_NaN = df.loc[df['Quốc gia']=='NaN'].index.tolist()
for ind in index_NaN:
    df.at[ind,'Quốc gia'] = df.at[ind-1,'Quốc gia']

In [16]:
df['Quốc gia'] = df['Quốc gia'].replace('China','Trung Quốc')

In [17]:
df

,Hạng,Tên,Ngành,Doanh thu(USD million),Tốc độ tăng trưởng,Số nhân viên,Quốc gia,Chú thích
0,1,Walmart,Retail,"$514,405",2.8%,"2,200,000",Hoa Kỳ,[4]
1,2,Sinopec,Oil and gas,"$414,649",26.8%,"619,151",Trung Quốc,[5]
2,3,Royal Dutch Shell,Oil and gas,"$396,556",27.2%,"81,000",Hà Lan,[6]
3,4,China National Petroleum,Oil and gas,"$392,976",20.5%,"1,382,401",Trung Quốc,[7]
4,5,State Grid,Electricity,"$387,056",10.9%,"917,717",Trung Quốc,[8]
5,6,Saudi Aramco,Oil and gas,"$355,905",35.3%,"76,418",Ả Rập Saudi,[9]
6,7,BP,Oil and gas,"$303,738",24.2%,"73,000",United Kingdom,[10]
7,8,ExxonMobil,Oil and gas,"$290,212",18.8%,"71,000",United States,[11]
8,9,Volkswagen,Automotive,"$278,341",7.0%,"664,496",Đức,[12]
9,10,Toyota,Automotive,"$272,612",2.8%,"370,870",Nhật Bản,[13]
10,11,Apple,Electronics,"$265,595",23.1%,"132,000",United States,[14]
11,12,Berkshire Hathaway,Conglomerate,"$247,837",2.4%,"389,000",United States,[15]
12,13,Amazon,Retail,"$232,887",30.7%,"647,000",United States,[16]
13,14,UnitedHealth Group,Healthcare,"$226,247",12.5%,"300,000",United States,[17]
14,15,Samsung,Electronics,"$221,579",4.5%,"221,579",Hàn Quốc,[18]
15,16,Glencore,Commodities,"$219,754",6.9%,"85,504",Thụy Sĩ,[19]
16,17,McKesson,Healthcare,"$214,319",2.9%,"70,000",United States,[20]
17,18,Daimler,Automotive,"$197,515",6.6%,"298,683",Germany,[21]
18,19,CVS Health,Healthcare,"$194,579",5.3%,"295,000",United States,[22]
19,20,Total,Oil and gas,"$184,106",23.5%,"104,460",France,[23]
20,21,China State Construction,Construction,"$181,524",16.3%,"302,827",Trung Quốc,[24]
21,22,Trafigura,Commodities,"$180,744",32.5%,"4,316",Singapore,[25]
22,23,Foxconn,Electronics,"$175,617",13.5%,"667,680",Đài Loan,[26]
23,24,Exor,Financials,"$175,009",8.2%,"314,790",Italy,[27]
24,25,AT&T,Telecommunications,"$170,756",6.4%,"254,000",United States,[28]
25,26,ICBC,Financials,"$168,979",10.4%,"449,296",Trung Quốc,[29]
26,27,AmerisourceBergen,Pharmaceuticals,"$167,939",9.7%,"20,500",United States,[30]
27,28,Chevron,Oil and gas,"$166,339",23.6%,"48,600",United States,[31]
28,29,Bảo hiểm Ping An,Financials,"$163,597",13.5%,"342,550",Trung Quốc,[32]
29,30,Ford,Automotive,"$160,338",2.3%,"199,000",United States,[33]
30,31,China Construction Bank,Financials,"$151,110",9.0%,"366,996",Trung Quốc,[34]
31,32,General Motors,Automotive,"$147,049",6.5%,"173,000",United States,[35]
32,33,Mitsubishi,Conglomerate,"$145,243",112.7%,"79,994",Japan,[36]
33,34,Honda,Automotive,"$143,302",3.4%,"219,772",Japan,[37]
34,35,Costco,Retail,"$141,576",9.7%,"194,000",United States,[38]
35,36,Agricultural Bank of China,Financials,"$139,523",14.0%,"477,526",Trung Quốc,[39]
36,37,Alphabet,Internet,"$136,819",23.4%,"98,771",United States,[40]
37,38,Cardinal Health,Pharmaceuticals,"$136,809",5.3%,"50,200",United States,[41]
38,39,SAIC Motor,Automotive,"$136,392",5.9%,"147,738",Trung Quốc,[42]
39,40,Walgreens Boots Alliance,Retail,"$131,537",11.3%,"299,000",United States,[43]
40,41,JPMorgan Chase,Financials,"$131,412",15.4%,"256,105",United States,[44]
41,42,Gazprom,Oil and gas,"$131,302",17.3%,"466,100",Nga,[45]
42,43,Verizon,Telecommunications,"$130,863",3.8%,"144,500",United States,[46]
43,44,Bank of China,Financials,"$127,714",10.6%,"310,119",Trung Quốc,[47]
44,45,Allianz,Financials,"$126,779",2.6%,"142,460",Germany,[48]
45,46,AXA,Financials,"$125,578",63.9%,"104,065",Pháp,[49]
46,47,Kroger,Retail,"$121,162",1.2%,"453,000",United States,[50]
47,48,General Electric,Conglomerate,"$120,268",1.6%,"283,000",United States,[51]
48,49,Fannie Mae,Financials,"$120,101",6.9%,"7,400",United States,[52]
49,50,Lukoil,Oil and gas,"$119,145",26.9%,"102,500",Russia,[53]